rofi.color-window: #cc333333, #cc333333, #dd000000
rofi.color-normal: #cc000000, #ffffffff, #aa777777, #aa777777, #77333333
!rofi.color-active: #bbffffff, #bbffffff, #bbffffff, #bbffffff, #bbffffff
!rofi.color-urgent: #bbffffff, #bbffffff, #bbffffff, #bbffffff, #bbffffff

